<style>
  fieldset{
    font-family: "Century Gothic";
    background: cornflowerblue;
    border: #24292e;
    opacity: 70%;
    width: 500px;
    height: 400px;
    position: relative;
    right: -800px;
    top: 150px;
  }


</style>

<fieldset style="align-items: center"><legend> Sabias que...</legend><br>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque earum excepturi expedita iusto nobis
    numquam provident. Asperiores dolorum error excepturi exercitationem impedit ipsa iure natus optio sunt unde! Praesentium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis, esse explicabo facilis, fuga iure
    laudantium maiores neque odit pariatur porro possimus sit? Error libero nulla numquam perferendis repellendus tempora!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam deserunt dicta dolores fuga fugiat
    ipsam itaque natus nihil obcaecati, odit perspiciatis quae repellat repudiandae sapiente. At commodi id voluptate.</p>
</fieldset>
