<style>
  *{margin:0;padding:0 ;}

  header{
    width: 100%;
    background: #125699;
    position: relative;
  }
  nav{
    background: #24292e;

  }
</style>

<nav class="fm-nav bg-inverse text-white">
  <div class="col-2 mt-12">
    <ul class="nav">
      <li class="nav-item"><a [routerLink]="['/Inicio']">INICIO</a></li>
      <li class="nav-item"><a [routerLink]="['/Acercade']">ACERCA DE</a></li>
      <li class="nav-item"><a [routerLink]="['/Listaalumno']">LISTA ALUMNOS</a></li>
    </ul>
  </div>
</nav>

<header style="font-size: 40px">
  <h1 style="font-family: 'Century Gothic'">
    Rulas Web
  </h1>
</header>
